permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
name: Deploy to AWS
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3  # Use v3 for OIDC
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Zip and Push to AWS
        run: |
          zip lambda.zip lambda_function.py
          aws s3 cp lambda.zip s3://hassan-aws-cloud-automation-project1/lambda.zip
          aws cloudformation deploy --template-file template.yaml --stack-name my-cloud-stack --parameter-overrides DeploymentBucketName=hassan-aws-cloud-automation-project1
